.headerContainer {
  @apply sticky top-0 z-50;
  & .headerSubContainer {
    @apply bg-header-bg py-2;
    & .header {
      @apply flex justify-between items-center;
      & .headerRight {
        @apply lg:flex items-center gap-4;
      }
      & .productMenu {
        @apply gap-4 h-[50px] relative rounded-[25px] pr-[75px] flex items-center;
        & .magnifyContainer {
          @apply w-[80px] h-[50px] lg:w-[50px] rounded-full  cursor-pointer flex justify-center items-center absolute right-0;
          background: var(--fire-gradient);
          &.active {
            @apply z-10;
          }
        }
        & .searchInput {
          @apply absolute right-0 h-full rounded-[25px] px-[25px] py-1 text-white w-full;
          background: var(--fire-gradient);
          transform-origin: right;
          &:focus-visible {
            @apply outline-none;
          }
          &::placeholder {
            @apply text-placeholder;
          }
        }
        & .crossIcon {
          @apply absolute -right-8 cursor-pointer;
        }
        & .removeSearchStrIcon {
          @apply absolute w-6 text-white right-4 cursor-pointer;
        }
        & .subMenu {
          @apply absolute left-[-100px] lg:left-0 w-[300px] lg:w-full hidden rounded-xl lg:rounded-[10px] p-2 lg:p-5;
          box-shadow: 0 0 0 2000px hsla(0, 0%, 6%, 0.6);
          backdrop-filter: blur(60px) saturate(100%);
          &.active {
            @apply flex flex-col gap-2;
          }
          & .item {
            @apply rounded-[7px] px-2 text-white cursor-pointer py-1 transition-all text-sm lg:text-base;
            background: rgba(0, 0, 0, 0.2);
            &:hover {
              @apply font-semibold;
            }
          }
        }
      }
    }
  }
  & .productMenuMobile {
    @apply w-full flex lg:hidden justify-center gap-1 items-center flex-wrap;
    backdrop-filter: blur(60px) saturate(100%);
  }
}
